.container {
  flex: 1;
  width: 100%;
  overflow: visible;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cardOverlayContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: fit-content;
  max-width: 400px;
  padding: 1rem;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mapContainer {
  display: flex;
  flex-grow: 1;
  width: auto;
  height: 100%;
}
