.container {
  flex: 1;
  overflow: visible;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cardOverlayContainer {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  flex: 1;
  width: fit-content;
  max-width: 450px;
  margin: 1.7rem 1rem;
  /* gap: 1rem; */
  overflow-y: scroll;
  overflow-x: hidden;
  
  scrollbar-width: thin;
  scrollbar-color: rgb(221, 217, 217) white;
}

.mapContainer {
  /* border: 3px solid blue; */
  display: flex;
  flex-grow: 1;
  width: auto;
  padding: 3rem 1rem 3rem 0rem;
}
