.container {
  flex: 1;
  overflow: visible;
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* border: 2px solid red; */
}

.cardsAndMap {
  /* border: 3px solid purple; */
  display: flex;
  flex-direction: row;
  /* height: 94%; */
  flex: 1;
  overflow: hidden;
}

.cardOverlayContainer {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  flex: 1;
  width: fit-content;
  max-width: 450px;
  margin: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: #F4F1EB white;
}

.mapContainer {
  /* border: 3px solid purple; */
  display: flex;
  flex-grow: 1;
  width: auto;
  padding: 3rem 1rem 3rem 0rem;
}

/* .filterMenuContainer {
  border: 3px solid red;
} */
