.container {
  flex: 1;
  overflow: visible;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cardsAndMap {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.cardOverlayContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: fit-content;
  max-width: 450px;
  margin: 2rem 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 5px;

  scrollbar-width: thin;
  scrollbar-color: #f4f1eb white;
}

.mapContainer {
  display: flex;
  flex-grow: 1;
  width: auto;
  padding: 3rem 1rem 3rem 0rem;
}

.closestLabel {
  font-weight: 700;
  font-size: 15px;
  color: #303030;
  opacity: 0.7;
}

/* Mobile view */
@media (max-width: 600px) {
  .cardsAndMap {
    flex-direction: column;
  }

  .mapContainer {
    padding: 0px;
    margin: 10px 0px;
    order: 1;
  }

  .cardOverlayContainer {
    max-width: 100%;
    margin: 0px 1rem;
    order: 2;
  }
}
