.outerDiv {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

/* Mobile view */
@media (max-width: 600px) {
  .outerDiv {
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
}
