.filterMenu {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  padding: 0.5rem 1rem;
  scrollbar-width: none;
}

.servicesContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.searchButton, .selected, .unselected {
  white-space: nowrap;
  cursor: pointer;
  border-radius: 15px;
  border-style: hidden;
  background-color: white;
  box-shadow: 5px 3px 5px rgb(0, 0, 0, 0.25);

  font-weight: 900;
  font-size: 15px;
  color: #001B85;
}

.selected {
  background-color: #0070f3;
  color: white;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 5px;
  border-radius: 50%;
}

.searchIcon {
  height: 15px;
  width: 15px;
  display: block;
}
