.filterMenu {
  display: flex;
  /* align-items: center; */
  /* width: 100%; */
  gap: 0.5rem;
  overflow-x: scroll;
  padding: 0.5rem 1rem;
  scrollbar-width: none;
  /* border: 2px solid blue; */
}

.servicesContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
  /* border: 1px solid blue; */
}

button {
  white-space: nowrap;
  cursor: pointer;
}

.selected {
  background-color: #0070f3;
  color: white;
  border-radius: 4px;
}

.searchButton {
  display: flex;        /* needed for align-items & justify-content to work */
  align-items: center;  
  justify-content: center;
  margin: 0px;
  padding: 5px;
  border-radius: 50%;

}

.searchIcon {
  height: 15px;
  width: 15px;
  display: block;       /* removes any inline spacing */
}