.card {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #ccc;
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 0.5rem;
  padding-left: 1rem;
  width: 250px;
}

.serviceItem {
  flex-shrink: 0;
  margin-left: 1rem;
  font-size: 10px;
  font-weight: 900;
  color: #303030;
  padding: 2px;
  opacity: 0.7;
}

.topOfCard {
  padding-left: 1rem;
  padding: 10px;
  padding-bottom: 0px;
}

.topOfCard h2,
h3,
p {
  margin: 0px;
  font-weight: 900;
}

.topOfCard h2 {
  size: 30px;
  color: #001b85;
}

.topOfCard h3 {
  size: 20px;
  color: #303030;
}

.topOfCard p {
  size: 15px;
  color: #303030;
}

.bottomOfCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
}

.visitButton {
  height: 30px;
  width: 120px;
  padding: 0 12px;
  gap: 10px;
  margin: 1.5rem;
  background-color: #f47c20;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 900;
  font-size: 12px;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: 0.2s ease;
}

.visitButton:hover {
  opacity: 0.8;
}

.iconCircle {
  width: 22px;
  height: 22px;
  border-radius: 50%;

  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noStations {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 10% auto;
  border: 1px solid black;
  width: 100%;
}
