@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-shrink: 0;
}

.container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .container {
    padding-top: 60px; /* same as mobile navbar height */
  }
}
